<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Peliculas Favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container [slidesPerView]="2.2">
    <swiper-slide *ngFor="let pelicula of arregloPeliculas">
      <ion-card>
        <ion-card-header>
          <ion-img src="https://image.tmdb.org/t/p/w500/{{pelicula.backdrop_path}}"></ion-img>
          <ion-card-title>{{pelicula.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>
